# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
anyascii=0.3.0=pypi_0
beautifulsoup4=4.10.0=pypi_0
blas=1.0=mkl
blis=0.7.5=pypi_0
brotlipy=0.7.0=py38h294d835_1003
bs4=0.0.1=pypi_0
ca-certificates=2021.10.8=h5b45459_0
catalogue=2.0.6=pypi_0
certifi=2021.10.8=py38haa244fe_1
cffi=1.15.0=py38hd8c33c5_0
chardet=3.0.4=pypi_0
charset-normalizer=2.0.9=pyhd8ed1ab_0
click=8.0.3=pypi_0
colorama=0.4.4=pypi_0
contractions=0.0.58=pypi_0
cryptography=36.0.1=py38hb7941b4_0
cymem=2.0.6=pypi_0
emoji=1.6.1=pypi_0
en-core-web-sm=2.2.0=pypi_0
filelock=3.4.0=pypi_0
googletrans=3.0.0=pypi_0
h11=0.9.0=pypi_0
h2=3.2.0=pypi_0
hpack=3.0.0=pypi_0
hstspreload=2021.12.1=pypi_0
httpcore=0.9.1=pypi_0
httpx=0.13.3=pypi_0
huggingface-hub=0.2.1=pypi_0
hyperframe=5.2.0=pypi_0
idna=2.10=pypi_0
intel-openmp=2020.2=254
jinja2=3.0.3=pypi_0
joblib=1.1.0=pypi_0
langcodes=3.3.0=pypi_0
lxml=4.7.1=pypi_0
markupsafe=2.0.1=pypi_0
mkl=2019.4=245
mkl-service=2.3.0=py38hb782905_0
mkl_fft=1.2.0=py38h45dec08_0
mkl_random=1.1.0=py38hf9181ef_0
murmurhash=1.0.6=pypi_0
nltk=3.6.5=pypi_0
numpy=1.21.4=pypi_0
numpy-base=1.19.1=py38ha3acd2a_0
openssl=1.1.1l=h8ffe710_0
packaging=21.3=pypi_0
pandas=1.3.5=py38h5d928e2_0
pathy=0.6.1=pypi_0
pip=21.2.2=py38haa95532_0
preshed=3.0.6=pypi_0
pyahocorasick=1.4.0=py38h1e8a9f7_2
pycparser=2.21=pyhd8ed1ab_0
pydantic=1.8.2=pypi_0
pyopenssl=21.0.0=pyhd8ed1ab_0
pyparsing=3.0.6=pypi_0
pysocks=1.7.1=py38haa244fe_4
python=3.8.12=h6244533_0
python-dateutil=2.8.2=pyhd8ed1ab_0
python_abi=3.8=2_cp38
pytz=2021.3=pyhd8ed1ab_0
pyyaml=6.0=pypi_0
regex=2021.8.3=pypi_0
requests=2.26.0=pyhd8ed1ab_1
rfc3986=1.5.0=pypi_0
sacremoses=0.0.46=pypi_0
setuptools=58.0.4=py38haa95532_0
six=1.16.0=pyh6c4a22f_0
smart-open=5.2.1=pypi_0
sniffio=1.2.0=pypi_0
soupsieve=2.3.1=pypi_0
spacy=3.2.1=pypi_0
spacy-legacy=3.0.8=pypi_0
spacy-loggers=1.0.1=pypi_0
sqlite=3.36.0=h2bbff1b_0
srsly=2.4.2=pypi_0
textsearch=0.0.21=pypi_0
thinc=8.0.13=pypi_0
tokenizers=0.10.3=pypi_0
tqdm=4.62.3=pypi_0
transformers=4.14.1=pypi_0
typer=0.4.0=pypi_0
typing-extensions=4.0.1=pypi_0
tzdata=2021e=hda174b7_0
unidecode=1.3.2=pypi_0
urllib3=1.26.7=pyhd8ed1ab_0
vc=14.2=h21ff451_1
vs2015_runtime=14.27.29016=h5e58377_2
wasabi=0.9.0=pypi_0
wheel=0.37.0=pyhd3eb1b0_1
win_inet_pton=1.1.0=py38haa244fe_3
wincertstore=0.2=py38haa95532_2
word2number=1.1=py_0
